.btn{
    height: 90px;
    width: 100px;
    border-radius: 5px;
    text-align: center;



}


.btn:hover{
    
        background-color: rgb(5, 99, 99);
        transition: all .4s ease;
        -webkit-transition: all .4s ease;  
          cursor: pointer;

}

